*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  font-family: "Open sans", "sans-serif";
  margin: 0;
}
*:focus{
  outline: none;
}
a{
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
.page{
  background-color: #f1f5f9;
  min-height: 100vh;
}
/* Start Sidebar */
.sidebar{
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}
/* End Sidebar */