*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  font-family: "Open sans", "sans-serif";
  margin: 0;
}
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
*:focus{
  outline: none;
}
a{
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
.page{
  background-color: #f1f5f9;
  min-height: 100vh;
}
.active{
  background-color: #f6f6f6;
}
/* Start Sidebar */
.sidebar{
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
  margin-bottom: 50px;
}
.sidebar > h3::before,
.sidebar > h3::after {
  content: "";
  background-color: black;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
}
.sidebar > h3::before {
  width: 80px;
  height: 2px;
  bottom: -20px;
}
.sidebar > h3::after {
  bottom: -29px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 4px solid white;
}
.sidebar ul li a {
  transition: 0.3s;
  margin-bottom: 5px;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: #f6f6f6;
}
.sidebar ul li a span {
  font-size: 14px;
  margin-left: 10px;
}
@media (max-width: 767px) {
  .sidebar {
    width: 58px;
    padding: 10px;
  }
  .sidebar > h3 {
    font-size: 11px;
    margin-bottom: 15px;
  }
  .sidebar > h3::before,
  .sidebar > h3::after {
    display: none;
  }
  .sidebar ul li a span {
    display: none;
  }
}
/* End Sidebar */
/* Start Head */
.content {
  overflow: hidden;
}
.head .search input {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left: 5px;
  padding-left: 30px;
  width: 160px;
  transition: width 0.3s;
}
.head .search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--grey-color);
}
.head .icons .notification::before{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--red-color);
  border-radius: 50%;
  right: -5px;
  top: -5px;
}
.head .search input:focus {
  width: 200px;
}
.head .search input:focus::placeholder {
  opacity: 0;
}
.head .icons img{
  width: 32px;
  height: 32px;
  margin-left: 15px;
}
/* End Head */
.page h1 {
  margin: 20px 20px 40px;
}
.page h1::before,
.page h1::after{
  content: "";
  position: absolute;
  bottom: -10px;
  height: 3px;
  left: 0;
}
.page h1::before{
  width: 120px;
  background-color: #ffffff;
}
.page h1::after{
  width: 40px;
  background-color: #000000;
}

.wrapper{
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .wrapper{
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
/* Start Welcome Widget */
.welcome{
  overflow: hidden;
}
.welcome .intro img {
  width: 170px;
  margin-bottom: -10px;
}
.welcome .avatar {
  width: 64px;
  height: 64px;
  margin-left: 20px;
  margin-top: -32px;
  padding: 2px;
  border: 2px solid white;
  box-shadow: 0 0 5px #ddd;
  border-radius: 50%;
}
.welcome .body{
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.welcome .body > div{
  flex: 1;
}
.welcome .visit {
  margin: 0 15px 15px auto;
  transition: 0.3s;
}
.welcome .visit:hover{
  background-color: var(--blue-alt-color);
}
@media (max-width: 767px) {
  .welcome .intro{
    padding-bottom: 30px;
  }
  .welcome .avatar{
    margin-left: 0;
  }
  .welcome .body > div:not(:last-child){
    margin-bottom: 15px;
  }
}
/* End Welcome Widget */
/* Start Quick Draft Widget*/
.quick-draft textarea{
  min-height: 160px;
  resize: none;
}
.quick-draft .save{
  margin-left: auto;
  transition: 0.3s;
  cursor: pointer;
}
.quick-draft .save:hover{
  background-color: var(--blue-alt-color);
}
/* End Quick Draft Widget*/
/* Start Yearly-Target Widget */
.targets .target-row .icon{
  width: 80px;
  height: 80px;
  margin-right: 15px;
}
.targets .target-row .details{
  flex: 1;
}
.targets .details .progress {
  height: 4px;
}
.targets .details .progress > span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.targets .details .progress > span span {
  position: absolute;
  bottom: 16px;
  right: -16px;
  color: white;
  padding: 2px 5px;
  border-radius: 6px;
  font-size: 13px;
}
.targets .details .progress > span span::after {
  content: "";
  border-color: transparent;
  border-width: 5px;
  border-style: solid;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.targets .details .progress > .blue span::after {
  border-top-color: var(--blue-color);
}
.targets .details .progress > .orange span::after {
  border-top-color: var(--orange-color);
}
.targets .details .progress > .green span::after {
  border-top-color: var(--green-color);
}
.blue .icon,
.blue .progress {
  background-color: rgb(0 117 255 / 20%);
}
.orange .icon,
.orange .progress {
  background-color: rgb(245 158 11 / 20%);
}
.green .icon,
.green .progress {
  background-color: rgb(34 197 94 / 20%);
}
/* End Yearly-Target Widget */
/* Start Tickets Widget */
.tickets .box{
  border: 1px solid #ccc;
  width: calc(50% - 10px);
}
@media (max-width: 767px) {
  .tickets .box{
    width: 100%;
  }
}
/* End Tickets Widget */
/* Start Latest News Widget */
.latest-news .news-row:not(:last-of-type){
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.latest-news .news-row .info{
  flex: 1;
}
@media (max-width: 767px) {
  .latest-news .news-row{
    flex-direction: column;
    /* display: block; */
  }
  .latest-news .news-row img{
    margin-bottom: 10px;
    margin-right:0
  }
  .latest-news .news-row .label{
    margin-top: 15px;
  }
}
/* End Latest News Widget */
/* Start Tasks Widget */
.tasks .task-row:not(:last-of-type){
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.tasks .info{
  flex-grow: 1;
}
.tasks .done{
  opacity: 0.3;
}
.tasks .done .info{
  text-decoration: line-through;
}
.tasks .task-row .delete{
  cursor: pointer;
  transition: 0.3s;
}
.tasks .task-row .delete:hover{
  color: var(--red-color);
}
/* End Tasks Widget */
/* Start Latest Upload */
.latest-uploads li:not(:last-child){
  border-bottom: 1px solid #eee;
}
/* End Latest Upload */
/* Start Last Project Progress Widget */
.last-project img{
  position: absolute;
  right: 15px;
  bottom: 0;
  width: 175px;
  opacity: 0.1;
}
.last-project ul::before{
  content: "";
  position: absolute;
  left: 11px;
  width: 2px;
  height: 100%;
  background-color: var(--blue-color);
}
.last-project ul li::before{
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #ffffff;
  outline: 2px solid var(--blue-color);
  margin-right: 20px;
  z-index: 1;
}
.last-project ul li.done::before {
  background-color: var(--blue-color);
}
.last-project ul li.current::before {
  animation: change-bg-clr 0.8s infinite alternate;
}
/* End Last Project Progress Widget */
/* Start Reminders */
.reminders li .key{
  width: 15px;
  height: 15px;
}
.reminders li .blue{
  border-left: 2px solid var(--blue-color);
}
.reminders li .green{
  border-left: 2px solid var(--green-color);
}
.reminders li .orange{
  border-left: 2px solid var(--orange-color);
}
.reminders li .red{
  border-left: 2px solid var(--red-color);
}
/* End Reminders */
/* Start Latest Post Widget */
.latest-post .top .avatar{
  width: 50px;
  height: 50px;
}
.latest-post .post-content{
  line-height: 1.8;
  text-transform: capitalize;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  min-height: 140px;
}
/* End Latest Post Widget */
/* Start Social Media Stats Widget */
.social-media .box {
  padding-left: 70px;
}
.social-media .box i{
  position: absolute;
  left: 0;
  top: 0;
  width: 52px;
  transition: 0.3s;
}
.social-media .box i:hover {
  transform: rotate(5deg);
}
.social-media .twitter{
  background-color: rgb(29 161 242 / 20%);
  color: #1da1f2;
}
.social-media .twitter i,
.social-media .twitter a {
  background-color: #1da1f2;
}
.social-media .facebook {
  background-color: rgb(24 119 242 / 20%);
  color: #1da1f2;
}
.social-media .facebook i,
.social-media .facebook a {
  background-color: #1877f2;
}
.social-media .youtube {
  background-color: rgb(255 0 0 / 20%);
  color: #ff0000;
}
.social-media .youtube i,
.social-media .youtube a {
  background-color: #ff0000;
}
.social-media .linkedin {
  background-color: rgb(0 119 181 / 20%);
  color: #0077b5;
}
.social-media .linkedin i,
.social-media .linkedin a {
  background-color: #0077b5;
}
/* End Social Media Stats Widget */
/* Start Projects Widget*/
@media (max-width: 767px) {
  .projects{
    margin: 10px;
  }
}
.projects .responsive-table {
  overflow-x: auto;
}
.projects table {
  min-width: 1000px;
  border-spacing: 0;
}
.projects thead td {
  background-color: #eee;
  font-weight: bold;
}
.projects table td {
  padding: 15px;
}
.projects tbody td {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  transition: 0.3s;
}
.projects table tbody tr td:last-child {
  border-right: 1px solid #eee;
}
.projects tbody tr:hover td {
  background-color: #faf7f7;
}
.responsive-table tbody tr img{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 2px;
  background-color: white;
}
.projects table img:not(:first-child) {
  margin-left: -20px;
}
.projects table .label {
  font-size: 13px;
}
/* End Projects Widget*/
/* Start Animation */
@keyframes change-bg-clr {
  from {
    background-color: white;
  }
  to {
    background-color: var(--blue-color);
  }
}
/* End Animation */